@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #101030;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.simple-container {
    max-width: 675px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px;
}

.simple-print {
    fill: white;
    stroke: white;
}

.simple-print svg {
    height: 100%;
}

.simple-close {
    color: white;
    border-color: white;
}

.simple-ext-info {
    border-top: 1px solid #aaa;
}

h1 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
